#head {
}

#searchbar {
	 float:right; 
	 position: absolute;
	 margin-top: 50px; 
	 margin-left: 740px;	
}

ul  { 
	display: inline;
	list-style-type: none;
	float: left;
	width:400px; 
	height:100%; 
	padding-right:20px; 
	border:0px; 
	background-color: white; 
	}
	
li {
	display: inline;
}


#iFrames {
	widht:100%
}

#leftIFrame {
	position:  absolute;
	margin-top: 150px;
	margin-left: 150px;
	width:600px;
	height: 500px;
	scrolling: yes;
	
}

#rightIFrame {
	position: absolute;
	margin-top: 150px;
	margin-left: 800px ;
	width:300px;
	height: 500px;
	overflow: hidden;
	scrolling: yes;
	
}


#tabNavi{
	 background-color: #ECF3EE;        /* Hintergrundfarbe für die Navigation */
 	 padding: 5px 0;                   /* Innenabstand: oben/unten 4px, li/re 0 */
 	 border-top: 3px solid #9B5D2E;    /* Rahmenlinie oben */
 	 border-bottom: 3px solid #9B5D2E; /* Rahmenlinie unten */
 	 border: 2px groove #9B5D2E;
 	 margin: 0; 
}

.menuLeft {
	position: absolute;
	margin-left: 150px;
	margin-top: 115px;
	width: 400px;
}


.content {
	background-color: brown;
	margin-left: 400px;
}

#contentLeft{
	position:relative;
	margin: 10px;
	top: 50px;
}

#rightSide {
	float: right;
	width: 400px;
	position: absolute;
	right: 10px;
	top: 70px;
	background-color: brown;
}

#footer {
    position: absolute;
    margin-top:  660px;
    margin-left:  150px;
    clear:left;
    background:#efefef;
    bottom:0;
    padding:0px;
    width:600px;
}

body {
	background-color: white;
}

	
