#head {

}

#searchbar {
	 float:right; 
	 position: absolute;
	 top: 40px; 
	 right: 10px;	
}

ul  { 
	display: inline;
	list-style-type: none;
	float: left;
	width:400px; 
	height:100%; 
	padding-right:20px; 
	border:0px; 
	background-color: white; 
	}
	
li {
	display: inline;
}

#tabNavi{
	 background-color: #F7FFC3;        /* Hintergrundfarbe für die Navigation */
 	 padding: 4px 0;                   /* Innenabstand: oben/unten 4px, li/re 0 */
 	 border-top: 3px solid #668BCC;    /* Rahmenlinie oben */
 	 border-bottom: 3px solid #668BCC; /* Rahmenlinie unten */
 	 margin: 0; 
}

.content {
	background-color: brown;
	margin-left: 400px;
}

#sidebar {
	float: right;
	width: 400px;
	background-color: brown;
}

#footer {
    clear:left;
    margin-top:1em;
    background:#efefef;
    text-align:center;
    padding:10px;
}

body {
	background-color: white;
}

	
